body {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 100vh;
  grid-auto-rows: max-content;

  margin: 0;

  font-family: sans-serif;
  font-size: 12pt;

  background-color: #f4f4f4;
}

body main {
  max-width: 80ch;
  padding: 2rem;
}

body main :first-child {
  margin-top: 0;
}

body#pageInstall,
body#pageLogin {
  display: block;
}


body#pageInstall main,
body#pageLogin main {
  display: grid;
  grid-template-columns: 512px;
  grid-template-rows: max-content;
  grid-auto-rows: max-content;
  grid-gap: 0;
  justify-content: center;
  align-items: center;

  max-width: 100%;
  height: 100vh;
}

footer {
  grid-column: 2 span;
}


/**
 * Inputs
 */
input,
a.button,
button,
textarea {
  padding: 0.6rem 0.8rem;

  font-size: inherit;

  background-color: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
}

input,
a.button,
button,
textarea {
  width: 100%;

  box-sizing: border-box;
}

a.button,
button {
  max-width: 256px;

  cursor: pointer;
}

a.button,
button[type="submit"] {
  background-color: #fff;
}

a.button {
  display: block;

  color: inherit;
  text-decoration: none;
  text-align: center;
}

a.button.critical,
button.critical {
  color: #fff;
  background-color: #ff5555;
  border-color: #f00;
}

a.button.full,
button.full {
  max-width: unset;
}

a.button:hover,
button:hover {
  text-decoration: underline;
}

form {
  display: grid;
  grid-gap: 1rem;
}

textarea,
input {
  transition: border-left-color 0.2s;

  font-family: inherit;

  border-left-width: 4px;
}

textarea:placeholder-shown,
input:placeholder-shown {
  border-left-color: #d9d9d9;
}

textarea:invalid,
input:invalid {
  border-left-color: red;
  box-shadow: none;
}

form fieldset {
  margin: unset;
  padding: unset;
  border: unset;
}

hr {
  width: 100%;
  margin: 2rem 0;

  border: none;
  border-top: 1px solid #f4f4f4;
}

table {
  width: 100%;
}

table th {
  text-align: left;
}


/**
 * Blocks
 */
section.block {
  width: 100%;

  padding: 2rem;
  margin-bottom: 2rem;

  box-sizing: border-box;

  background-color: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
}

section.block :first-child {
  margin-top: 0;
}

section.block :last-child {
  margin-bottom: 0;
}


/**
 * Messages
 */
.message.important,
.message.failure {
  color: #2b0000;
  border-color: #ffaaaa;
  background-color: #fed5d5;
}

.message.info {
  color: #0b2228;
  border-color: #afdde9;
  background-color: #d7eef4;
}


/**
 * Header
 */
header {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto max-content;
  grid-gap: 2rem;

  padding: 2rem;

  background-color: #fff;
}

header nav ul {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

header nav ul li a {
  display: block;

  padding: 1.6rem;
  margin-bottom: 1rem;
}
